assignment6.aux
assignment6.log
assignment6.out
assignment6.synctex.gz
assignment4.aux
assignment4.log
assignment4.out
assignment4.synctex.gz
assignment7.aux
assignment7.log
assignment7.out
assignment7.synctex.gz
assignment7.aux
assignment7.log
assignment7.out
assignment7.synctex.gz
assignment8.aux
assignment8.log
assignment8.out
assignment8.synctex.gz